<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SecurityKeyForDES" value="1B2c3Dq5"/>
    <add key="SecurityKeyForTripleDES" value="someProperlySaltedKeyuyt"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>